body {
    background-color: #f3eae3 !important;
}

main {
    display: grid;
    place-items: center;
    height: 100vh;
}

.prod-card {
    width: 20.5rem;

}

.prod-subtitle {
    font-family: "Montserrat", sans-serif;
    color:  hsl(228, 12%, 48%);
    text-transform: uppercase;
    font-weight: 500;
    font-size:0.9rem;
    letter-spacing: 0.3rem;
    line-height: 2rem;
}

.prod-title {
  font-family: "Fraunces", serif;
  font-weight: 700;
}

.prod-desc {
    color: hsl(228, 12%, 48%);
}

.prod-price {
    color: #3d8168;
    font-family: "Fredoka", sans-serif;
    font-size: 2rem;
}

.prod-discount {
    color:#a9aeb2;
    font-size: 1rem;
}

@media (min-width: 576px) {
    body {
        background-color: #f3eae3 !important;
    }

    main {
        display: grid;
        place-items: center;
        height: 100vh;
    }

    .prod-card {
        width: 40rem;
        
    }

    .prod-subtitle {
        font-family: "Montserrat", sans-serif;
        color:  hsl(228, 12%, 48%);
        text-transform: uppercase;
        font-weight: 500;
        font-size:0.9rem;
        letter-spacing: 0.3rem;
        line-height: 2rem;
    }

    .prod-desc {
        color: #b2ae9d;
        font-size:0.9rem;
    }

    .prod-price {
        color: #3d8168;
        font-family: "Fredoka", sans-serif;
        word-spacing: 0.5rem;
        line-height: 5rem;
    }

    .prod-discount {
        color:#a9aeb2;
        font-size: 1rem;
    }
}

@media (min-width: 768px) {
    body {
        background-color: #f3eae3 !important;
    }

    main {
        display: grid;
        place-items: center;
        height: 80vh;
    }

    .prod-card {
        width: 20rem;
        
    }

    .prod-subtitle {
       font-family: "Montserrat", sans-serif;
       color:  hsl(228, 12%, 48%);
       text-transform: uppercase;
       font-weight: 500;
       font-size:0.9rem;
       letter-spacing: 0.3rem;
       line-height: 2rem;
    }

    .prod-desc {
        color: #b2ae9d;
    }

    .prod-price {
        color: #3d8168;
        font-family: "Fredoka", sans-serif;
        word-spacing: 0.5rem;
        line-height: 5rem;
    }

    .prod-discount {
        color:#a9aeb2;
        font-size: 1rem;
    }
}

@media (min-width: 992px) { 
    body {
        background-color: #f3eae3 !important;
    }

    main {
        display: grid;
        place-items: center;
        height: 100vh;
    }

    .prod-card {
        width: 40rem;
        
    }

    .prod-subtitle {
        font-family: "Montserrat", sans-serif;
        color:  hsl(228, 12%, 48%);
        text-transform: uppercase;
        font-weight: 500;
        font-size:0.9rem;
        letter-spacing: 0.3rem;
        line-height: 3.5rem;
    }

    .prod-title {
        font-family: "Fraunces", serif;
        font-weight: 700;
        font-size: 2.7rem;
    }

    .prod-desc {
        color: hsl(228, 12%, 48%);
        font-size:0.9rem;
    }

    .prod-price {
        color: #3d8168;
        font-family: "Montserrat", sans-serif;
        word-spacing: 0.5rem;
        line-height: 5rem;
    }

    .prod-discount {
        color:#a9aeb2;
        font-size: 1rem;
    }   
}
